#welcome-text {
    font-size: 24px;
}

.panel-heading {
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
}

.instruction {
    font-size: 16px;
    font-family: monospace;
}

.frame-name {
    font-weight: bold;
}

.placeholder-text {
    font-style: italic;
    color: gray;
}