#welcome-text {
    font-size: 24;
}

.section-heading {
    font-size: 20;
    font-weight: bold;
}

.frame-name {
    font-weight: bold;
}

.placeholder-text {
    font-style: italic;
    color: gray;
}